/* General Setup- separate, 
 */
 html, body { 
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    background: linear-gradient(130deg, rgb(194, 14, 191) 0%, rgb(43, 9, 115) 50%, rgb(22, 56, 181)100%) 
}
body{
    height: 100vh;
    width: 80 vw;
    margin: 0 auto; 
}
 /* Header layout */
header {
    margin-bottom: 10px;
    margin-top: 20px;
    
}
header h2 {
    text-align: right;
    margin-right: 60px;
}

nav{
    height: 50px;
}
nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
    text-align: center;
    flex: 1;
    font-size: 2rem;
    text-transform: uppercase ;
}
/* main Layout */
section img{
    
    margin: auto;
    width: 50%;
}
section{
    text-align: center;
    font-size: 2rem;

}
main{
    display: flex;
}

aside{
    
    margin: top;
    /* aside will take up 20% (1/(1+4
     */
}
aside a {
    margin: left;
    width: 29%;
}
/* article {

} */
aside img{
    max-width:25%;
    
    background-color: transparent;
  
}
/* footer
 */
 main, article, aside, footer{
    background-color:lightgray;
    padding: 0%;
   
} 
 
footer p{
    font-size: 2rem;
    margin-bottom: 20px;
 }


